@media screen and (min-width: 360px){

      .dropdown{
        background-color: #222222;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    
    .intro{
        margin: 0;
        height: 100vh;
        padding: 15% 10% 10% 10%;
        color: #ffffff;
        background-color: #222222;
        text-align: center;
    }
    
    h1 {
        text-align: center;
    }

    .infoLight{
        line-height: 40px;
        color: white;
        font-family: Baskerville, Georgia, serif;
        font-size: 24px;
        font-style: italic;
        display: inline;        
    }


    .jamming, .ravenous {

        height: 100vh;  
        width: 100%;
         
    }

    .info{
        height: 760px;
        font-family: Baskerville, Georgia, serif;
        font-size: 17px;
        line-height: 40px;
        text-align: justify;
        display: inline;
        padding: 5% 2% 5% 2%;

    }

    .vidsReact{
        width: 100%;
        height: 35%;  
        margin-top: 5%;
    }
    
    video{

        width: 100%;
        height: 100%;
    }


}


@media screen and (min-width: 960px){

       
    .dropdown{
        background-color: #161617;
    }

    body{
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;        
    }
    
    #container{    
        text-align: center;  
        height: auto;
    }

    .intro{
        margin: 0;
        height: 100vh;
        padding: 15% 10% 10% 10%;
        color: #ffffff;
        background-image:
            linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.5)
            ), url(../pages/images/react.png);

        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

    }

    .infoLight{
        line-height: 40px;
        color: white;
        font-family: Baskerville, Georgia, serif;
        font-size: 24px;
        font-style: italic;
        display: inline;
        
    }

    .projects{
        padding-top: 5%;    
    }

    .jamming, .ravenous {

        width: 99%;
        height: 800px;            
    }

    .info{
        width: 30%;
        height: 700px;
        float: left;
        padding: 5% 2% 3% 2%;

        font-family: Baskerville, Georgia, serif;
        font-size: 24px;
        line-height: 40px;
        font-style: italic;
        text-align: justify;
        display: inline;

    }

    .vidsReact{
        width: 70%;
        height: 600px;
        float: right;    
        margin-top: 5%;

    }


}
